@charset "UTF-8";
/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
/*-------------------------------

	base

-------------------------------*/
html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
}

.inner {
  width: 76.5%;
  margin: 0 auto;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  display: inline-block;
  position: relative;
  font-size: 3.6rem;
  color: #555555;
}

h2::after {
  content: '';
  position: absolute;
  bottom: -11px;
  left: 0;
  background-color: #F2632D;
  width: 100%;
  height: 5px;
}

img {
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  padding: 12px 44px;
  border: 3px solid #F2632D;
  border-radius: 100vh;
  background-color: #fff;
  font-size: 1.8rem;
  color: #F2632D;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover {
  border: 3px solid #fff;
  background-color: #F2632D;
  color: #fff;
}

/*-------------------------------

	header

-------------------------------*/
.header {
  padding: 8px 0;
}

.header > .inner > h1 {
  display: inline-block;
  width: 225px;
  height: auto;
}

.header > .inner > ul > li {
  margin-left: 44px;
}

.header > .inner > ul > li > a {
  display: inline-block;
  font-size: 1.8rem;
  color: #555555;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.header > .inner > ul > li > a:hover {
  opacity: .6;
}

.header > .inner > ul > li:first-child {
  margin-left: none;
}

/*-------------------------------

	kv

-------------------------------*/
.kv {
  width: 100%;
  height: 600px;
  background-image: url(https://github.com/amahiro/coding02/blob/main/images/mainvisual.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*-------------------------------

	menu

-------------------------------*/
.menu {
  padding-top: 73px;
  text-align: center;
}

.menu > h2 {
  margin-bottom: 110px;
}

.menu__list {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__item {
  width: 28.5%;
  color: #555555;
}

.menu__item > h3 {
  margin-bottom: 20px;
  font-size: 2.8rem;
}

.menu__item > p {
  font-size: 2rem;
}

.menu__img {
  margin-bottom: 24px;
}

/*-------------------------------

	about

-------------------------------*/
.about {
  padding-top: 110px;
  margin-bottom: 141px;
  text-align: center;
}

.about > h2 {
  margin-bottom: 50px;
}

.about__text {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: left;
  width: 45.9%;
}

.about__title {
  margin-bottom: 32px;
  font-size: 3.2rem;
  color: #555555;
}

.about__lead {
  margin-bottom: 40px;
  font-size: 2.2rem;
  color: #555555;
}

.about__img {
  width: 45.9%;
}

/*-------------------------------

	footer

-------------------------------*/
.footer {
  padding: 17px 0;
  text-align: center;
  background-color: #D5D5D5;
}

.footer > P > small {
  font-size: 1.2rem;
  color: #fff;
}

@media (max-width: 599px) {
  /******************************************************************

Stylesheet: スマートフォンサイズのモニタで適用

******************************************************************/
  /*-------------------------------

	base

-------------------------------*/
  .inner {
    padding: 0 15px;
    width: 100%;
  }
  h2 {
    font-size: 3rem;
  }
  h2::after {
    height: 3px;
  }
  /*-------------------------------

	header

-------------------------------*/
  .header > .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header > .inner > h1 {
    width: 175px;
  }
  .header > .inner > ul > li {
    font-size: 1.6rem;
    color: #555555;
    margin: 0 22px;
  }
  .header > .inner > ul > li:first-child {
    margin-left: none;
  }
  .header > .inner > ul > li:last-child {
    margin-right: none;
  }
  /*-------------------------------

	kv

-------------------------------*/
  .kv {
    height: 360px;
  }
  /*-------------------------------

	menu

-------------------------------*/
  .menu {
    padding-top: 64px;
  }
  .menu > h2 {
    margin-bottom: 37px;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu__item {
    margin-bottom: 45px;
    width: 81.1%;
    color: #555555;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
  .menu__item > h3 {
    margin-bottom: 5px;
  }
  .menu__item > p {
    font-size: 1.6rem;
  }
  .menu__img {
    margin-bottom: 21px;
  }
  /*-------------------------------

	about

-------------------------------*/
  .about {
    padding-top: 91px;
    margin-bottom: 60px;
  }
  .about > h2 {
    margin-bottom: 46px;
  }
  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    width: 81.1%;
  }
  .about__text > .btn {
    margin-bottom: 50px;
  }
  .about__title {
    margin-bottom: 22px;
    font-size: 2.6rem;
  }
  .about__lead {
    margin-bottom: 25px;
    font-size: 1.6rem;
  }
  .about__img {
    width: 100%;
    height: auto;
  }
  /*-------------------------------

	footer

-------------------------------*/
  .footer {
    padding: 12px 0;
  }
}
/*# sourceMappingURL=style.css.map */
